.top {
    border: solid red;
    width: 200px;
    height: 200px;
    margin: 50px 50px;
}

.bottom {
    border: solid green;
    width: 300px;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: justify;
    padding: 30px 30px 30px 30px;
    font-size: 21px;
}
